@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register">
    <input placeholder="Nome" asp-for="@Model.FirstName" />
    <input placeholder="Cognome"  asp-for="@Model.LastName" />
    <input placeholder="Email"  asp-for="@Model.Email" />
    <input type="date" asp-for="@Model.BirthDate" />
    <input placeholder="Password" type="password" asp-for="@Model.Password" />
    <input placeholder="Conferma password" type="password" asp-for="@Model.ConfirmPassword" />
    <button>Register</button>
</form>