@model StudentiViewModel

@if (Model.Studenti != null && Model.Studenti.Count() > 0 && User.Identity.IsAuthenticated && User.IsInRole("Docente")) {
	<table id="studentiTable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Data di nascita</th>
				<th>Email</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var studente in Model.Studenti)
			{
				<tr>
					<td>@studente.Nome</td>
					<td>@studente.Cognome</td>
					<td>@studente.DataDiNascita</td>
					<td>@studente.Email</td>
					<td>
						<button onclick="showDetailsModal('@studente.Id')">Dettagli</button>
						<button onclick="showUpdateModal('@studente.Id')">Modifica</button>
						<button class="btn btn-sm btn-danger" onclick="showDeleteModal('@studente.Id')">Elimina</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
} else {
	<p class="text-danger">Nessuno studente presente o non sei loggato o non hai i permessi di accesso per visualizzare la tabella studenti.</p>
}